body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.cap{
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.cap_text{
  color: white;
  text-align: left; 
  margin: 0 0 0 10%;
}
.cap_text_navigation{
  color: white;
  margin: 0vh 2vh;
}
.cap_text_right{
  color: white;
  text-align: right; 
  margin: 0 10% 0 0;
  background-color: blueviolet;
  padding: 1.5vh;
  border-radius: 20px;
  font-size: 15px;
}
.image_1{
  height: 102%; 
  width: 100%; 
  position: relative;
  z-index: 1;
}
.lear_expert{  
  position: absolute; /* добавляем позиционирование */
  opacity: 0.8; 
  height: 100%;  
  width: 100%;  
  background-color: grey;   
  top: 0%; /* задаем положение сверху */
  left: 0%; /* задаем положение слева */
  z-index: 1;
}

.text_learn_expert{
  width: 35%;
  color: white;
  font-size: 45px;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  margin: 0 0;
}
.text_expert_podtext{
  font-size: 20px;
  margin: -2vh 0;
}
.first_photo {
  position: relative;
}
.courses{
  margin: -1vh 0vh 0vh 0vh;
  width: 100%;
  height: 20vh;
  background-color: blueviolet;
  z-index: 2;
  position: relative;
  color: white;
  text-align: center;
  font-size: 35px;
}
.text_couses {
  position: absolute;
  margin: 5vh auto; /* изменить левое и правое отступы на auto */
  width: 100%; /* добавить ширину 100% */
  justify-content: center; /* выравнивание по центру по горизонтали */
} 
.card-1{  
  margin: 0 10vh;  /*изменили отступы*/  
  height: 50vh;  
  width: 40vh;  
  background-color: azure;  
  border: 1px solid black;  
  display: inline-block; 
  border-radius: 30px;
} 
@media screen and (max-width: 1500px){
  .card-1{  
    display: block;
    margin: 2vh auto;
  }
  
}

@media screen and (max-width: 600px){
  .cap_text_navigation{
    display: none;
  }
  .courses{
    height: 8vh;
  }
  .text_learn_expert{
    font-size: 5px;
  }
  .text_learn_expert{
    display: none;
  }
  .card-1{  
    margin: 0 0; 
  }
}

