@font-face {
	font-family: 'BebasNeue'; 
	src: url(fonts/BebasNeue-Regular.ttf); 
}
@font-face {
	font-family: 'BungeeInline'; 
	src: url(fonts/BungeeInline-Regular.ttf); 
}
@font-face {
	font-family: 'Roboto'; 
	src: url(fonts/Roboto-Regular.ttf); 
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
a{
  text-decoration: none;
}
.cap{
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  z-index: 10;
}
.cap_text{
  color: white;
  text-align: left; 
  margin: 0 0 0 10%;
  z-index: 10;
  font-size: 28px;
  font-family: 'BebasNeue';
}
.cap_text_navigation{
  color: white;
  margin: 0vh 2vh;
}
.cap_text_right{
  color: white;
  text-align: right; 
  margin: 0 10% 0 0;
  background-color: #7971ea;
  padding: 1.5vh;
  border-radius: 20px;
  font-size: 15px;
  z-index: 10;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.cap_text_right:hover {
  transform: translate(0px, 0px);
  box-shadow: none;
}
.image_1{
  height: 100%; 
  width: 100%; 
  position: relative;
  z-index: 1;
}
.lear_expert{  
  position: absolute; /* добавляем позиционирование */
  opacity: 0.8; 
  height: 100%;  
  width: 100%;  
  background-color: grey;   
  top: 0%; /* задаем положение сверху */
  left: 0%; /* задаем положение слева */
  z-index: 1;
}

.text_learn_expert{
  width: 35%;
  color: white;
  font-size: 45px;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  margin: 0 0;
  z-index: 2;
}
.text_expert_podtext{
  font-size: 20px;
  margin: -2vh 0;
}
.first_photo {
  position: relative;
  overflow: hidden;
}
.courses{
  padding: 10vh 0vh;
  margin: -1vh 0vh 0vh 0vh;
  width: 100%;

  background-color: #7971ea;
  z-index: 2;
  position: relative;
  color: white;
  text-align: center;
  font-size: 35%;
  font-weight: 600;
  font-size: 50px;
}
.card-1{  
  margin: -5vh 5vh 5vh 5vh;  /*изменили отступы*/  
  height: 47vh;  
  width: 40vh;  
  background-color: azure;  
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  display: inline-block; 
  border-radius: 10px;
  right: 0px;
  bottom: 0px;
  position: relative;
  text-align: center;
  z-index: 2;
} 
.image_in_card{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.name_courses{
  font-size: 20px;
  color: #7971ea;
  margin: 2vh 0 0 0;
}
.description_course{
  font-size: 15px;
  color: gray;
  margin: 0 0 3vh 0;
}
.price_course{
  height: 5vh;
  padding: 0.5vh;
  text-align: right;
  color: white;
  float: right;
  background-color: #7971ea;
  border-radius: 10px 0px 0px 10px;
  margin: -5vh 0 0 0;
  z-index: 5;
  position: relative;
  font-size: 28px;
}
.courses_program{
  width: 100%;
  display: flex; /* добавили свойство для выравнивания по центру */
  justify-content: center; /* выравнивание по центру */
  align-items: center; /* выравнивание по центру */
}
.our_programs {
  text-align: center;
  margin: 5vh 0;
}

.text_our {
  font-weight: 1000;
  font-size: 50px;
  text-align: center;
  margin: 5vh 0 5vh 0;
}

.podtext_our {
  font-weight: 500;
  width: 50%;
  font-size: 18px;
  margin: 0 auto;
  color: gray;
  margin: 2vh auto 0 auto;
}
.photo_our_programs{
  width: 40%;
}
.text_under_photo_program{
  font-weight: 500;
  font-size: 30px;
  margin: 0 auto;
}
.podtext_under_photo_program{
  width: 50%; 
  text-align: center; 
  color: grey; 
  margin: 2vh auto; 
  font-size: 18px;
}
.statistic{
  text-align: left;
}
.stat-1{ 
  margin: 3vh auto 0 auto; 
  width: 80%; 
} 

.learn_image{ 
  width: 10%; 
  display: inline; 
  vertical-align: middle; 
} 
.text_learn{ 
  margin: 0 0 0 2vh; 
  width: 100%; 
  display: inline; 
  vertical-align: middle; 
  color: #7971ea; 
}
.card-v2{
  margin: auto 2vh;  
  height: 50vh;  
  width: 80vh;   
  display: inline-block; 
  right: 0px;
  bottom: 0px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.card-teach{
  background-color: white;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid rgba(169, 169, 169, 0.3);
  height: 35vh;
  margin: 15vh 5vh auto 5vh;
}
.image_teach{
  width: 75%;
  border-radius: 100%;
  margin: -12vh 0 0 0;
}
.why_us_card{ 
  width: 30%;
  height: 50vh; 
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);  
  display: inline-block; 
  vertical-align: top; 
  margin: 0 auto; /* Добавлено выравнивание по центру по горизонтали */
  margin: 0 2% 0 18%;
} 
.why_us_image{ 
  width: 10%; 
  display: inline-block; 
} 
.image_why_us{ 
  width: 30%; 
  height: 10%; 
  margin: 0 -10% 0 0;
}
.futer { 
  width: 100%; 
  height: 30vh; 
  display: flex; 
  justify-content: space-between;  /* изменение здесь */
  align-items: center; 
  background-color: rgba(169,169,169,0.1); 
} 

.about_school { 
  display: inline-block; 
  width: 30%; 
  margin: 0 0 0 10%;  /* изменение здесь */
} 

.message_us { 
  justify-content: flex-end;  /* изменение здесь */
  align-items: center; 
  width: 10%; 

  text-align: center; 
  font-size: 150%; 
  font-family: 'BebasNeue'; 
  color: rgba(0, 0, 0, 0.8); 
  margin: 0 10% 0 0; 
} 
.imeges_futer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message_us_photo {
  width: 60%;
  display: inline-block;
  margin: 1vh 2vh;
}
.zag_about_school{
  font-weight: 100;
  font-size: 150%;
  font-family: 'BebasNeue';
  color: rgba(0, 0, 0, 0.8); 
}
.text_about_school{
  color:rgba(128, 128, 128, 0.8);
}

.courses{
  font-size: 250%;
}








@media screen and (max-width: 1150px){
  .imeges_futer { 
    display: flex;  
    justify-content: center; 
    align-items: center; 
    flex-direction: column;  
    width: 70%; 
    margin: 0 auto; /* добавляем отступы слева и справа автоматически */
  }
  .message_us_photo {
    margin: 1vh; /* убираем отступы слева и справа */
  }
  .imeges_futer {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 70%;
  }
  .card-teach{
    display: block;
    margin: 15vh auto auto auto;
  }
  .image_why_us{
    display: block;
    margin: 4vh auto;
    width: 60%; 
    height: auto; 
  }
  .why_us_card{
    display: block; 
    margin: 15vh auto; /* Добавлено выравнивание по центру по горизонтали */ 
    padding: 1vh 0vh 4vh 0vh;
    width: 40%;
    height: auto;
  }
  .courses{
    font-size: 200%;
    padding: 7vh 0vh;
  }
}









@media screen and (max-width: 1000px){
  .card-1{  
    display: block;
    margin: -3.5vh auto 7vh auto;
  }
  .card-teach{
    display: block;
    margin: 15vh auto auto auto;
  }
  .courses_program{
    display: block;
  }
  .podtext_under_photo_program{
    display: block;
  }
  .why_us_card{
    width: 50%;
    margin: auto auto;
  }
  
}


@media screen and (max-width: 950px){
  .message_us{
    width: 20%;
  }
  .imeges_futer{
    width: 45%;
  }
}

/* margin: 0 30% 0 -10%; */
@media screen and (max-width: 900px){
  .image_why_us{
    display: block;
    margin: 4vh auto;
    width: 60%; 
    height: auto; 
  }
  .about_school{
    font-size: 15px;
  }
}


@media screen and (max-width: 850px){
  .learn_image{
    width: 12%;
  }
  .why_us_card{
    width: 70%;
  }
  .text_our, .text_under_photo_program{
    font-size: xx-large*3;
  }
  .podtext_our, .podtext_under_photo_program{
    font-size: medium;
  }
  .image_why_us{
    width: 70%; 
  }
}

@media screen and (max-width: 800px){
  .image_1{
    height: 200%; 
    width: 200%; 
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .cap_text_navigation{
    display: none;
  }
  .courses{
    height: 8vh;
  }
  .text_learn_expert{
    font-size: 30px;
    width: 80%;
    top: 40%;
    left: 50%;
  }
  .text_expert_podtext{
    font-size: 14px;
  }
  .cap_text_right{
    display: none;
  }
  .photo_our_programs{
    width: 60%;
  }
}


@media screen and (max-width: 750px){
    .text_our{
      font-size: 40px;
    }
    .podtext_our, .podtext_under_photo_program{
      font-size: 15px;
    }
    .podtext_under_photo_program, .podtext_our{
      width: 75%;
    }
    .about_school {
      width: 40%;
      /* margin: 0 0 0 10vh; */
    }
    /* .message_us { 
      margin: 0 10vh 0 0; 
    }  */

  }

  @media screen and (max-width: 650px){
    .imeges_futer{
      width: 60%;
    }
  }
  @media screen and (max-width: 600px){
    .why_us_card{
      width: 80%;
    }
    .podtext_under_photo_program, .podtext_our{
      width: 80%;
    }
    .image_why_us{
      width: 90%; 
    }
  }


  @media screen and (max-width: 550px){
    .podtext_our{
      width: 70%;
    }
    .about_school{
      width: 50%;
    }
  }
@media screen and (max-width: 550px){
  .podtext_our{
    width: 70%;
  }
  .about_school{
    width: 50%;
  }
}
@media screen and (max-width: 550px){
  .about_school{
    font-size: 13px;
  }
  .message_us{
    font-size: 18px;
  }
}





  @media screen and (max-width: 450px){
    .why_us_card{
      width: 90%;
      height: auto;
    }
    .podtext_under_photo_program, .podtext_our{
      width: 90%;
    }
    .image_why_us{
      width: 100%; 
    }
    .imeges_futer{
      width: 70%;
    }
  }


